form#simulation-setup-form fieldset {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 8px;
}

form#simulation-setup-form label {
  display: block;
  margin-bottom: 12px;
  font-weight: 600;
}

form#simulation-setup-form input[type="number"] {
  margin-left: 10px;
  width: 60px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

button:disabled {
  background-color: #ccc !important;
  cursor: not-allowed;
}

.v-belt-set {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #256dcb;
  margin: 3px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.v-belt-set.processing {
  background-color: #ffc107;
  color: #222;
}
